.resume_left {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  text-align: right;
}

.resume_right {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  text-align: left;
  margin-left: 30px;
}
.resume_text {
  color: #1287a8;
}
.resume_style {
  flex: 1;
  background-color: white;
  text-align: center;
  padding-top: 150px;
}
@media only screen and (max-width: 700px) {
  .resume_left {
    display: inline;
    margin: 0px;
    text-align: center;
  }

  .resume_right {
    display: inline;
    margin: 0px;
    text-align: center;
  }
}
